<ul class="ul" id="ul1">
  <li id="ul1li1" class="first">ul1li1</li>
  <li id="ul1li2" class="second">
    <ul class="ul" id="ul2">
      <li id="ul2li1" class="first">ul2li1</li>
      <li id="ul2li2" class="second">
        <ul class="ul" id="ul3">
          <li id="ul3li1" class="first">ul3li1</li>
          <li id="ul3li2" class="second"></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>